.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.6s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.6s;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url('neon3.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: arial;
    max-width: 100%;
    max-height: 100vh;
}


#banner
    {
        width: 990px;
        height: 250px;
        
        background-color: #fff;
        
        margin: auto;
        
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        z-index: 1;

        opacity: 0;
    animation: fadeInBanner 2s ease-in 2s forwards;
    }

#banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #9007a4 );
    display: block;
}

#banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #9007a4 );
    display: block;
    filter:blur(50px)
}

#banner_bg{
    position: absolute;
    inset: 6px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
}

#banner_zdjecie{
    position: absolute;
    z-index: 3;
}

#main{
    width: 990px;
    height: 1140px;
    background-color: #fff;
    margin-top: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;

    opacity: 0;
    animation: fadeInMain 2s ease-in 2s forwards;
}

#main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #9007a4 );
    display: block;
}

#main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #9007a4 );
    display: block;
    filter:blur(50px)
}

#main_bg{
    position: absolute;
    inset: 6px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
}


#bloki {
    width: 750px;
    height: 750px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 0;
    margin-top: 70px; /* Dodajemy margines na górze, aby dostosować położenie .bloki */
    
    z-index: 3;
    
}

#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9{
    height: 250px;
    width: 250px;
    justify-self: center;
    align-items: center;
    
    background-color: #fff;
    justify-content: center;
    position: relative;
    z-index: 4;
    
}

#div1::before, #div2::before, #div3::before, #div4::before, #div5::before,#div6::before,#div7::before,#div8::before,#div9::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ustawiamy na 100% */
    height: 100%; /* Ustawiamy na 100% */
    background: linear-gradient(315deg, #03a9f4, #a40eba);
}

#div1::before, #div2::before, #div3::before, #div4::before, #div5::before,#div6::before,#div7::before,#div8::before,#div9::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ustawiamy na 100% */
    height: 100%; /* Ustawiamy na 100% */
    background: linear-gradient(315deg, #03a9f4, #a40eba);
    filter: blur(30px);
}

.div_bg{
    position: absolute;
    inset: 6px;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
}

#div1 img, #div2 img, #div3 img, #div4 img, #div5 img, #div6 img, #div7 img, #div8 img, #div9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#div4{
    clear: both;
}

#div7{
    clear: both;
}



#menu{
    width: 990px;
    height: 250px;
    
    z-index: 4;

    opacity: 0;
    animation: fadeInMenu 2s ease-in 5s forwards;

    
}

#napis_wybierz_gracza{
    z-index: 5;
    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
   
}
#kolko_przycisk{
    background: rgba(0, 0, 0, 0);
    border: black 2px solid;
    width: 100px;
    height: 100px;
    margin-left: 150px;
    float: left;
    text-align: center;
}


#krzyzk_przycisk{
    background: rgba(0, 0, 0, 0);
    border: black 2px solid;
   width: 100px;
    height: 100px;
    margin-right: 150px;
    float: right;
    text-align: center;
}

#reset_przycisk{
    background: rgba(0, 0, 0, 0);
    border: black 2px solid;
    width: 342px;
    height: 100px;
    margin-left: 75px;
    text-align: center;
   
}

.imgPole{
    width: 250px;
    height: 250px;
}

button{
    border: none;
}

@keyframes fadeInBanner {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInMain {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

